<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Cadastro de Eventos e Convidados - Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        <p>Bem-vindo,
            <%- usuario.nome %>
        </p>
        <h1>Cadastro de Cursos</h1>
        <h4>Forneça os dados para o cadastro</h4>
    </header>
    <section>
        <form action="/novoCurso" method="post">
            Código:
            <br />
            <input type="text" name="curso[codigo]" placeholder="Descrição">
            <br> Descrição:
            <br />
            <input type="text" name="curso[descricao]" placeholder="Curso">
            <br> CH:
            <br />
            <input type="text" name="curso[ch]" placeholder="Responsável">
            <br> Categoria do curso:
            <br>
            <select name="curso[categoria]" id="categoria">
                <option value="Administração">Administração</option>
                <option value="Logistica">Logistica</option>
                <option value="Matemática">Matemática</option>
                <option value="Português">Português</option>
                <option value="Técnologia da Informação">Técnologia da Informação</option>
            </select>
            <button type="submit">Enviar</button>
        </form>
    </section>
    <footer>
        <small>Sistema de Cadastro de Eventos e Convidados</small>
    </footer>
</body>

</html>